# Homework 8 (Due 03/01/2024)

In [7]:
# importing packages and custom modules
import sys
import numpy as np
from matplotlib import pyplot as plt
import astropy.units as u

# importing custom functions
sys.path.append("../")
from ASTRO530 import plotting

---
## Question 17

In [8]:
def partition_function(species,T):
    from scipy.optimize import curve_fit
    import pandas as pd
    import numpy as np

    partition_functions = pd.read_csv("partition_functions_T.csv",delimiter=",") # modified table 

    if species == 'H-': # only depends on ionization energy, filled valence shell
        chi = 0.755 # eV
        U = 1*10**(-(chi*(5040/T)))
    elif species not in partition_functions.columns: # table is missing fully ionized elements, which have a constant partition function
        U = 1.
    else:
        def exponential_decay(x, a, b, c):
            return a * np.exp(-b * x) + c
        
        if species in partition_functions.columns[:-1]:
            y_values = np.array(list(partition_functions[species][:-1].values))  # Extracting values from DataFrame column
            thetas = partition_functions['theta'].values
            nan_mask = ~np.isnan(y_values)  # Create mask to remove NaN values
            y = y_values[nan_mask]
            x_values = thetas[:-1][nan_mask]
            x = np.array(x_values, dtype=float)
    
            popt, pcov = curve_fit(exponential_decay, x, y) # fitting the points
            x_new = 5040/T
            logU = exponential_decay(x_new, *popt) # returns log value of U
            U = 10**logU
    return U

def Phi(species,T):

    import pandas as pd

    partition_functions = pd.read_csv("partition_functions_T.csv",delimiter=",")
    partition_functions = partition_functions.drop("Unnamed: 0",axis=1)

    ionizations_nist = pd.read_csv("ionization_nist.csv",delimiter=",")

    # assert (species in partition_functions.columns) or (species in ['H-','H+']), f'{species} is not an acceptable species to evaluate the partition function for lower state. Please use one of the following species:{["H-","H+"]+list(partition_functions.columns.values)}'
    assert (species in ionizations_nist['Species'].values) or (species in ['H-']), f'{species} is not an acceptable species to evaluate the ionization potential for lower state. Please use one of the following species:{["H-"]+list(ionizations_nist["Species"].values)}'
    
    if '-' not in species:
        species_1 = species + '+'
    else: 
        species_1 = species.replace('-','')

    # assert (species_1 in partition_functions.columns) or (species_1 in ['H-','H+']), f'{species_1} species not found; cannot calculate partition function for upper state.'

    U_r = partition_function(species,T)
    U_r1 = partition_function(species_1,T)
    if species == 'H-':
        chi = 0.755 #eV
    else:
        chi = ionizations_nist['Ionization Energy'].values[np.where(ionizations_nist['Species'].values == species)][0]

    phi_T = 0.6665*(U_r1/U_r)*(T**(5/2))*(10**(-(5040/T)*chi))
    return phi_T

In [14]:
import pandas as pd

abundances = pd.read_csv("SolarAbundance.csv",delimiter=",")
display(abundances)
partition_functions = pd.read_csv("partition_functions_T.csv",delimiter=",")
display(partition_functions)

    atomic element   weight             A   logA  logA12
0        1       H    1.008  1.000000e+00   0.00   12.00
1        2      He    4.003  8.510000e-02  -1.07   10.93
2        3      Li    6.941  1.260000e-11 -10.90    1.10
3        4      Be    9.012  2.510000e-11 -10.60    1.40
4        5       B   10.811  3.550000e-10  -9.45    2.55
..     ...     ...      ...           ...    ...     ...
87      88      Ra  226.025           NaN    NaN     NaN
88      89      Ac  227.000           NaN    NaN     NaN
89      90      Th  232.038  1.320000e-12 -11.88    0.12
90      91      Pa  230.040           NaN    NaN     NaN
91      92       U  238.029  3.390000e-13 -12.47   -0.47

[92 rows x 6 columns]

,Unnamed: 0,H,He,He+,Li,Be,Be+,B,B+,C,...,Th,Th+,Th++,Pa,Pa+,Pa++,U,U+,U++,theta
0,0,0.368,0.0,0.301,NaN,NaN,0.541,1.191,0.435,1.163,...,3.124,2.334,1.732,4.030,2.985,NaN,3.221,2.694,2.137,0.2
1,1,0.303,0.0,0.301,0.987,0.328,0.334,0.831,0.051,1.037,...,2.359,1.644,1.211,2.929,2.413,2.106,2.696,2.031,1.653,0.4
2,2,0.301,0.0,0.301,0.488,0.087,0.307,0.786,0.006,0.994,...,1.933,1.289,0.967,2.600,2.169,1.845,2.298,1.719,1.454,0.6
3,3,0.301,0.0,0.301,0.359,0.025,0.302,0.778,0.000,0.975,...,1.644,1.089,0.848,2.414,1.990,1.652,2.032,1.553,1.362,0.8
4,4,0.301,0.0,0.301,0.320,0.007,0.301,0.777,0.000,0.964,...,1.439,0.967,0.769,2.279,1.846,1.469,1.849,1.455,1.305,1.0
5,5,0.301,0.0,0.301,0.308,0.002,0.301,0.777,0.000,0.958,...,1.288,0.887,0.704,2.169,1.723,1.281,1.719,1.392,1.259,1.2
6,6,0.301,0.0,0.301,0.304,0.001,0.301,0.777,0.000,0.954,...,1.175,0.830,0.643,2.074,1.615,1.088,1.623,1.349,1.217,1.4
7,7,0.301,0.0,0.301,0.302,0.000,0.301,0.777,0.000,0.951,...,1.089,0.787,0.583,1.990,1.515,0.895,1.552,1.317,1.178,1.6
8,8,0.301,0.0,0.301,0.302,0.000,0.301,0.777,0.000,0.950,...,1.021,0.752,0.526,1.915,1.419,0.708,1.498,1.292,1.140,1.8
9,9,0.301,0.0,0.301,0.302,0.000,0.301,0.776,0.000,0.948,...,0.968,0.721,0.472,1.846,1.323,0.532,1.455,1.270,1.105,2.0
10,10,0.301,0.0,0.301,0.301,0.000,0.301,0.778,0.000,0.954,...,1.322,1.447,NaN,1.778,1.519,NaN,1.929,1.716,NaN,NaN

In [11]:
def P_e(T,log_P_g,tol=1e-8):
    P_e = np.sqrt(Phi('H',T)*10**P_g) 
    abundances = pd.read_csv("SolarAbundance.csv",delimiter=",")

    delta_P_e = None
    iteration = 0
    while True:
        iteration += 1
        numerator = 0
        denominator = 0
        for i,element in enumerate(abundances['element'].values):
            A = abundances['A'][i]
            if A == A:
                Phi_T = Phi(element,T)
                frac = (Phi_T/P_e)/(1 + Phi_T/P_e)
                numerator += (A*frac)
                denominator += (A*(1 + frac))
        P_e_new = P_g*numerator/denominator

        delta_P_e = abs(P_e - P_e_new)/P_e_new
        
        if delta_P_e is not None and delta_P_e < tol: # testing if the percent change is less than tolerance
            print(f"Convergence found after {iteration} iterations!")
            print(f"The value of P_e after convergence was reached:",P_e)
            print(f"---------------------------")
            break
        if iteration > 100:
            print("Too many iterations.")
            print("Latest percent difference:",delta_P_e)
            print(f"---------------------------")
            break
        P_e = P_e_new

In [13]:
T = 5000 # K
log_P_g = 1

P_e(T,log_P_g)

H
He
Li
Be
B
C
N
O
F
Ne
Na
Mg
Al
Si
P
S
Cl
Ar
K
Ca
Sc
Ti
V
Cr
Mn
Fe
Co
Ni
Cu
Zn
Ga
Ge
As
Se
Br
Kr
Rb
Sr
Y
Zr
Nb
Mo
Tc
Ru
Rh
Pd
Ag
Cd
In
Sn
Sb
Te
I
Xe
Cs
Ba
La
Ce
Pr
Nd
Pm
Sm
Eu
Gd
Tb
Dy
Ho
Er
Tm
Yb
Lu
Hf
Ta
W
Re
Os
Ir
Pt
Au
Hg
Tl
Pb
Bi
Po
At
Rn
Fr
Ra
Ac
Th
Pa
U